@using Models
@model Grid
@{
    ViewBag.Title = "Home Page";
}

<div class="mastclass">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>

                    @{
                        Grid grid = Model as Grid;
                    }
                    @if (grid != null)
                    {
                        for (int row = 0; row < grid.Size.Height; row++)
                        {
                            <tr>
                                @for (int x = 0; x < grid.Size.Width; x++)
                                {
                                    Cell cell = grid.GetCell(x, row);
                                    if (cell.Enabled)
                                    {
                                        <td class="success gridcell">
                                            @Html.ActionLink(cell.Number.ToString(), "ClickCell", "Home", new {row, x}, new {@class = "gridlink"})
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="gridcell">
                                            @Html.ActionLink(cell.Number.ToString(), "ClickCell", "Home", new {row, x}, new {@class = "gridlink"})
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>